{{#link-to 'post' post.id}}
<div class="col-xs-6">
  <div class="post-tile-box">
    <img class="post-image" src={{post.image}}>
    <h2>{{post.title}}</h2>
    <h3>{{post.day}}</h3>
  </div>
</div>
{{/link-to}}
