body {
  font-family: 'Chelsea Market', sans-serif;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.title {
  text-align: center;
  font-size: 50pt;
  color: #9F5F9F;
}

.navbar {
  text-align: center;
  font-size: 20pt;
  color: white;
}

a {
  color: #9F5F9F;
}

a:hover {
  color: black;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #9F5F9F;
  text-decoration: none;
}

.post-image {
  height: 200px;
  width: 141px;
}

.detail-image {
  max-height: 450px;
  width: 320px;
}

.detail-image-box {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  border: solid grey 5px;
  border-radius: 10px;
}

.detail-content {
  color: white;
}

.detail-body {
  font-size: 14pt;
}

.modify-buttons {
  text-align: center;
}

.delete-button {
  margin-top: 10px;
  font-size: 30pt;
  border-radius: 10px;
  background-color: #b20000;
  color: white;
  border: inset #660000;
}

.delete-button:hover {
  opacity: 0.6;
}

.update-button:hover {
  opacity: 0.6;
}

.update-button {
  font-size: 30pt;
  border-radius: 10px;
  background-color: #9F5F9F;
  color: white;
  border: inset #492C49;
}

.post-tile-box {
  text-align: center;
  max-height: 360px;
  overflow: hidden;
  padding: 10px;
  border: solid black 5px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  opacity: 0.8;
}

.post-tile-box:hover {
  opacity: 1;
}

.new-post-box {
  text-align: center;
  padding: 15px;
  border: solid grey 5px;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: white;
  opacity: 0.8;
}

.new-post-box:hover {
  opacity: 1;
}

.new-post-body {
  font-size: 18pt;
  width: 700px;
  height: 200px;
}

.update-post-body {
  font-size: 18pt;
  width: 100%;
  height: 200px;
}

.new-post-field {
  font-size: 18pt;
  width: 100%;
  height: 40px;
}

/*comments box*/

.all-comments-box {
  background-color: white;
  opacity: 0.95;
  border: solid grey 5px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.single-comment {
  border: solid black 5px;
  border-radius: 10px;
  max-width: 100%;
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
  background-color: grey;
  font-size: 16pt;
  color: black;
}

.comment-avatar {
  border: solid black 2px;
  border-radius: 50%;
  height: 200px;
  width: 160px;
}

.delete-comment {
  margin-top: 10px;
  font-size: 20pt;
  border-radius: 10px;
  background-color: #b20000;
  color: white;
  border: inset #660000;
}

.delete-comment:hover {
  opacity: 0.7;
}

.update-comment {
  margin-top: 20px;
  font-size: 20pt;
  border-radius: 10px;
  background-color: #9F5F9F;
  color: white;
  border: inset #492C49;
}

.update-comment:hover {
  opacity: 0.7;
}

.credits {
  margin-top: 20px;
  color: white;
  text-align: center;
}
