<div class="container">
  <header>
    <h1>Wilson's Don't Starve Adventures</h1>
  </header>
  <hr>

  {{outlet}}

  <footer>
    <hr>
    {{#link-to 'index'}}Back To Home{{/link-to}} |
    {{#link-to 'contact'}}Contact Wilson{{/link-to}} |
    {{#link-to 'about'}}About This Blog{{/link-to}}
  </footer>
</div>
