<p class="new-post-box static-page">Actually, you kind of... can't contact Wilson. He's pretty much in another dimension trying desperately to survive. You could try jumping through the portal, but that's not really recommended.</p>
